.about-section {
  padding: 30px 100px;
  /* background-color: black; */
}

.about-main {
  display: flex;
  align-items: center; /* Align content vertically */
  justify-content: space-between;
  gap: 20px;
}

.about-image img {
  width: 400px;
  height: 400px;
  border-radius: 80%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 600px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: black;
  border-bottom: 2px solid grey;
  display: inline-block;
}

.about-text {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 20px;
}

.contact-info, .social-links,.h3 {
  margin-top: 40px;
  font-size: 1.2rem;
  color: black;
  
  
}

.links a {
  color: #ff9800;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 10px;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #333;
}

.links {
  display: flex;
  gap: 15px; /* Space between items */
  align-items: center;
}

.resume-button {
  padding: 10px 15px;
  /* background-color: #007bff; */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


