.skills-section {
    padding: 40px,10px;
    /* background-color: #f0f4f7; */
    max-width: 1000px;
    margin: 0 auto;
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 700;
    border-bottom: 3px solid #ff9800;
    display: inline-block;
  }
  
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .skill-card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }
  
  .skill-icon {
    font-size: 3rem;
    color: #ff9800;
    margin-bottom: 1rem;
  }
  
  .skill-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  .skill-card p {
    font-size: 1rem;
    color: #555;
  }
  
  @media (max-width: 768px) {
    .skills-grid {
      grid-template-columns: 1fr;
    }
  }
  